* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: rgba(255, 183, 210, 0.7);
  --text-color: black;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  /* height: 100vh; */
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 30px auto 0px;
  padding: 0 24px;
}

/* perfil */

#profile {
  text-align: center;
}

#profile img {
  width: 170px;

  border-radius: 50%;
  border: 2px solid var(--body-bg-color);
  outline: 3px solid #ff7bab;
}

#profile p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;

  line-height: 27px;

  margin-top: 15px;
}

/* apresentação */

#presentation {
  text-align: center;
}

#presentation p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  line-height: 20px;

  text-transform: uppercase;

  margin-top: 7px;
}

/* social links */

#social-links {
  display: flex;
  justify-content: center;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin-top: 24px;
}

ion-icon {
  color: black;
}

/* links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

#first {
  margin-top: 24px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 17px;

  background-color: none;
  border: 2px solid white;
  border-radius: 4px;

  text-decoration: none;
  text-transform: uppercase;
  color: black;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-weight: 500;
}

/* rodapé */

footer {
  margin-top: 31px;
  text-align: center;
  text-transform: uppercase;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}
